body {
  background: url(/Users/JUAN/Documents/Proyecto_Pweb/img/fondo.png);
}

.caja_p {
    width: 66%;
    height: 100px;

}

.nombre_campo {
    width: 36%;
    height: 30px;
    margin: 1px;
    background-color: rgb(156, 199, 239);
}

.aux_a {    
    display: flex;
}

.aux_b {
    width: 72.6%;
    height: 30px;
    background-color: rgb(67, 170, 67);
}

.barra {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 3px solid black;
  gap: 30px;
  margin: 10px;
}

.barra a {
  text-decoration: none;
  color: #0033a0;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s;
}

.barra a:hover {
  color: #ff9800;
}

.logo {
  height: 40px;
}